.aboutUserPage {
  background-color: var(--block-background-lightBeige);
  box-shadow: 0 2px 12px var(--block-background-brown);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  h1 {
    padding: 25px 0 0;
    font-size: 22px;
    font-weight: 800;
    color: var(--text-color-brown);
    @media screen and (max-width: 680px) {
      font-size: 16px;
    }
  }

  padding: 64px 200px 20px;
  @media (max-width: 1100px) {
    padding: 64px 100px 20px;
  }
  @media (max-width: 750px) {
    padding: 64px 50px 20px;
  }
  @media screen and (max-width: 680px) {
    font-size: 16px;
  }
  @media screen and (max-width: 500px) {
    padding: 60px 40px 20px;
  }
  @media screen and (max-width: 400px) {
    padding: 60px 30px 20px;
    font-size: 14px;
  }
}

.skillsTitle,
.experienceTitle {
  margin-bottom: 20px;
  @media screen and (max-width: 680px) {
    font-size: 16px;
  }
}

.skillsGroup {
  margin-bottom: 20px;
}

.skillsGroup h3 {
  margin-bottom: 10px;
  @media screen and (max-width: 680px) {
    font-size: 16px;
  }
}
.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.skillsItem {
  background-color: var(--block-background-beige);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 18px;
  white-space: nowrap;
  @media screen and (max-width: 680px) {
    font-size: 16px;
  }
  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}
.userDescription,
.userAddInfo,
.userTarget {
  margin-bottom: 16px;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-word;
  @media screen and (max-width: 680px) {
    font-size: 16px;
  }
  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}
.experienceList {
  padding-left: 20px;
  list-style-type: disc;
}

.experienceItem {
  margin-bottom: 10px;
  text-align: justify;
  @media screen and (max-width: 680px) {
    font-size: 16px;
  }
  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}
.shortWord {
  white-space: nowrap;
  font-size: 18px;
  @media screen and (max-width: 680px) {
    font-size: 16px;
  }
  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}
