.projectDetails {
  min-height: 100vh;
  background-color: var(--block-background-lightBeige);
  background-color: var(--block-background-lightBeige);
  box-shadow: 0 2px 12px var(--block-background-brown);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--page-padding);
  @media screen and (max-width: 500px) {
    min-height: calc(100vh - 8.4vh);
  }
}
.projectTitle {
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color-main);
  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
  @media screen and (max-width: 330px) {
    font-size: 16px;
  }
}

.projectDescription,
.technologies {
  margin-bottom: 0.5rem;
  text-align: justify;
  color: var(--text-color-main);
}

.technologies strong {
  font-weight: 700;
  color: var(--text-color-main);
}
.projectLinks {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 530px) {
    flex-direction: column;
    gap: 10px;
  }
}
.projectLinks a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--text-color-main);
  font-weight: 500;
}

.projectLinks a:hover {
  text-decoration: underline;
}
.projectLinks a:visited {
  /* color: var(--text-color-brown); */
  color: var(--link-color);
}
.globeImg {
  width: 15px;
}
.laptopImg {
  width: 18px;
}

.projectApp {
  display: flex;
  height: 600px;
  align-content: center;
  iframe {
    justify-content: center;
  }
}
.projectIframe {
  height: 100%;
  width: 100%;
  border: none;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 12px var(--block-background-brown);
}

.technologiesGroup h3 {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text-color-main);
}
.technologiesList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.technologiesItem {
  background-color: var(--block-background-beige);
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  color: var(--text-color-main);
}
.shortWord {
  white-space: nowrap;
}
