.aboutUserPage {
  background-color: var(--block-background-lightBeige);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: var(--page-padding);
}

.skillsTitle,
.experienceTitle {
  margin-bottom: 20px;
  color: var(--text-color-main);
}

.skillsGroup {
  margin-bottom: 20px;
}

.skillsGroup h3 {
  margin-bottom: 10px;
  color: var(--text-color-main);
}
.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.skillsItem {
  background-color: var(--block-background-beige);
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  color: var(--text-color-main);
}
.userDescription,
.userAddInfo,
.userTarget {
  margin-bottom: 16px;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--text-color-main);
}
.experienceList {
  padding-left: 20px;
  list-style-type: disc;
  color: var(--text-color-main);
}

.experienceItem {
  margin-bottom: 10px;
  text-align: justify;
}
.shortWord {
  white-space: nowrap;
}
.projectsLink {
  color: var(--text-color-brown);
}
.projectsLink:visited {
  color: var(--link-color);
}
