.projectPage {
  min-height: 100vh;
  background-color: var(--block-background-lightBeige);
  box-shadow: 0 2px 12px var(--block-background-brown);
  padding: var(--page-padding);
  @media screen and (max-width: 500px) {
    min-height: calc(100vh - 8.4vh);
  }
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.projectCard a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--text-color-main);
  font-weight: 500;
  padding: 0;
}

.projectLink:hover {
  text-decoration: underline;
}
.projectLink:visited {
  color: var(--link-color);
}
