.pageContacts {
  /* position: relative; */
  min-height: 100vh;
  background-color: var(--block-background-lightBeige);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: var(--page-padding);

  &.open {
    background-color: var(--block-background-beige);
    box-shadow: none;
    padding: 0;
  }
}

.postcard {
  background-color: var(--block-background-beige);
  background-image: url("../../assets/canvas.jpg");
  border-radius: 12px;
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px var(--block-background-brown);
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (max-width: 300px) {
    padding: 10px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.header h3 {
  font-weight: 600;
  color: var(--text-color-brown);
  padding: 0 10px;
  text-align: center;
  @media (max-width: 330px) {
    padding: 0;
  }
}

.pattern {
  display: flex;
  align-items: center;
  gap: 5px;
}

.line {
  flex: 1;
  height: 1px;
  background-image: radial-gradient(
    var(--text-color-brown) 1px,
    transparent 1px
  );
  background-size: 5px 1px;
  background-repeat: repeat-x;
}

.cloverImg {
  width: 5%;
  height: 5%;
  color: var(--block-background-brown);
}

.content {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.iconArea {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-brown);
  @media (max-width: 600px) {
    display: none;
  }
}

.formArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width: 600px) {
    flex: none;
    width: 100%;
  }
}

.formArea input,
.formArea textarea {
  border: none;
  border-bottom: 1px solid var(--text-color-brown);
  padding: 6px 4px;
  font-size: 14px;
  background-color: transparent !important;
  color: var(--text-color-main);
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}

.formArea input:-webkit-autofill,
.formArea textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--block-background-lightBeige) inset !important;
  -webkit-text-fill-color: var(--text-color-main) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.formArea input:-webkit-autofill:focus,
.formArea textarea:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--block-background-lightBeige) inset !important;
  -webkit-text-fill-color: var(--text-color-main) !important;
}

.formArea input:focus,
.formArea textarea:focus {
  border-bottom-color: var(--text-color-orange);
}

.formArea input::placeholder,
.formArea textarea::placeholder,
.error {
  color: var(--text-color-brown);
  font-size: 14px;
  font-style: italic;
  @media (max-width: 300px) {
    font-size: 12px;
  }
}

.error {
  margin-top: -15px;
  color: var(--text-color-orange);
}
.formArea textarea {
  resize: vertical;
  min-height: 80px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.buttonWrapper button {
  color: var(--text-color-beige);
  background-color: var(--block-background-brown);
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buttonWrapper button:hover {
  background-color: var(--text-color-orange);
  color: var(--text-color-beige);
}

.sketchbookImg {
  width: 60%;
  height: auto;
}

.disabledBtn,
.disabledBtn:hover {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.toast {
  /* position: absolute;
  top: 75%;
  right: 27%; */
  transform: translateX(-50%);
  background: var(--block-background-lightBeige);
  color: var(--text-color-brown);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s forwards;
  max-width: 600px;
  margin: 0 auto;
}

/* @keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
} */
